/* Google font import Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,600;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --primary-color: #0e4bf1;
  --panel-color: #fff;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #4da3ff;
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  --title-icon-color: #fff;

  /* ===== Transition ===== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-02: all 0.2s ease;
}

body {
  min-height: 100vh;
  background-color: var(--panel-color);
}
body.dark {
  /* ===== Colors ===== */
  --primary-color: #3a3b3c;
  --panel-color: #242526;
  --text-color: #ccc;
  --black-light-color: #ccc;
  --border-color: #4d4c4c;
  --toggle-color: #fff;
  --box1-color: #3a3b3c;
  --box2-color: #3a3b3c;
  --box3-color: #3a3b3c;
  --title-icon-color: #ccc;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: var(--panel-color);
  padding: 10px 14px;
  border-right: 1px solid var(--border-color);
  transition: var(--tran-03);
}
nav.close {
  width: 76px;
}
nav .logo-name {
  display: flex;
  align-items: center;
}

nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}

nav .logo-image img {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

nav .logo-name .logo_name {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
}

nav.close .logo-name .logo_name {
  display: none;
}

/* Menu Section */
nav .menu-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 40px;
  height: calc(100% - 90px);
}

.menu-items .nav-links {
  list-style: none;
  padding-left: 10px;
}

.menu-items .nav-links li {
  margin-bottom: 15px;
}
nav.close .menu-items .nav-links li {
  width: 76px;
}
.menu-items .nav-links li a {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  color: var(--black-light-color);
}
nav.close .menu-items .nav-links li a {
  width: 0px;
}

.menu-items .nav-links li .link-name {
  font-size: 18px;
  margin-left: 10px;
}
nav.close .menu-items .nav-links li .link-name {
  width: 76px;
  pointer-events: none;
  opacity: 0;
}

.menu-items .nav-links li a:hover {
  color: var(--primary-color);
}

.menu-items .nav-links li:hover {
  list-style: disc;
  color: var(--primary-color);
}

.lg-icons {
  font-size: 25px;
}

.xl-icons {
  font-size: 30px;
  cursor: pointer;
}
.menu-items .dark-mode-menu {
  padding-top: 10px;
  width: 100%;
  border-top: 1px solid var(--border-color);
}
.menu-items .nav-links .mode {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.menu-items .toggle-mode {
  height: 25px;
  width: 50px;
  border-radius: 15px;
  background-color: var(--toggle-color);
  position: relative;
  display: flex;
  align-items: center;
  left: 20px;
}

nav.close .menu-items .dark-mode-menu .mode .toggle-mode {
  left: -10px;
  background-color: var(--toggle-color);
}

.toggle-mode .switch {
  background-color: var(--title-icon-color);
  border-radius: 50%;
  position: absolute;
  left: 7px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  transition: var(--tran-03);
}

.toggle-mode .darked {
  left: 30px;
}

.dashboard {
  position: relative;
  height: 100vh;
  left: 250px;
  width: calc(100% - 250px);
  background-color: var(--panel-color);
}

.dashboard .top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 14px;
  width: calc(100% - 250px);
  left: 250px;
  top: 0;
}

nav.close ~ .dashboard .top {
  left: 90px;
  width: calc(100% - 90px);
}

.dashboard .top .search-box {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: 0 10px 0 10px;
}
.dashboard .top .search-box .icon-search {
  position: absolute;
  color: var(--black-light-color);
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.dashboard .top .search-box input {
  border-radius: 5px;
  padding: 15px 40px 15px 40px;
  border: 1px solid #ddd;
  width: 100%;
  font-size: 18px;
}

.dashboard .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
